.about-blue-bg {
  background-color: rgb(35, 72, 159);
}

.about-white-text {
  color: rgb(255, 255, 255, 0.95);
}

.featurette-heading {
  padding-bottom: 0.75rem;
  border-width: 0 0 2px;
  border-style: solid;
}

/*MANAGMENT CARD*/

@media (max-width: 576px) {
  .managment-card-size {
    width: 20rem;
    margin: 0 auto;
  }
}

@media (min-width: 576px) {
  .managment-card-size {
    width: 17rem;
    margin: 0 auto;
  }
  .managment-card-size h2 {
    font-size: 1.5rem;
  }
  .managment-card-size h3 {
    font-size: 1.3rem;
  }
}

@media (min-width: 768px) {
  .managment-card-size {
    width: 17rem;
  }
  .managment-card-size h2 {
    font-size: 1.6rem;
  }
  .managment-card-size h3 {
    font-size: 1.4rem;
  }
}

@media (min-width: 992px) {
  .managment-card-size {
    width: 17rem;
  }
}

@media (min-width: 1200px) {
  .managment-card-size {
    width: 17rem;
  }
}

/* CORE VALUE */

@media (max-width: 576px) {
  .core-value-size {
    width: 20rem;
  }
}

@media (min-width: 576px) {
  .core-value-size {
    width: 17rem;
  }
}

@media (min-width: 768px) {
  .core-value-size {
    width: 10rem;
  }
}

@media (min-width: 992px) {
  .core-value-size {
    width: 7rem;
  }
}

@media (min-width: 1200px) {
  .core-value-size {
    max-width: 10rem;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .core-value-img-container {
    position: relative !important;
    display: block !important;
    width: 100% !important;
    margin: auto 0 !important;
    text-align: center;
    max-width: 100% !important;
    flex-basis: 100% !important;
  }

  .core-value-text-container {
    position: relative !important;
    display: block !important;
    width: 100% !important;
    max-width: 100% !important;
    flex-basis: 100% !important;
  }

  .core-value-container {
    height: 100%;
  }
}

@media (min-width: 1200px) {
  .core-value-container {
    height: 100%;
  }
}
