.clients-container {
  background-color: rgb(52, 52, 52) !important;
}

.card:hover {
  box-shadow: 0.8rem 0.8rem 0.5rem rgba(0, 0, 0) !important;
}

@media (min-width: 576px) {
  .card-size {
    width: 17rem;
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  .card-size {
    width: 12rem;
  }
}

@media (min-width: 992px) {
  .card-size {
    width: 17rem;
  }
}

@media (min-width: 1200px) {
  .card-size {
    width: 17rem;
  }
}
