.facebook {
  color: #3b5998 !important;
}

.twitter {
  color: #55acee !important;
}

.linkedin {
  color: #026db5 !important;
}

.facebook:hover {
  color: #2a4680 !important;
}

.twitter:hover {
  color: #4397f0 !important;
}

.linkedin:hover {
  color: #035287 !important;
}
